/* line 1, ../../scss/app/mask_animation.scss */
#container {
  position: relative;
}

/* line 5, ../../scss/app/mask_animation.scss */
#btn-animate {
  position: fixed;
  top: 220px;
  left: 100px;
  border: none;
  background: #cc6b32;
  color: #fff;
  padding: 10px;
  outline: none;
}
/* line 15, ../../scss/app/mask_animation.scss */
#btn-animate:active {
  background: #888a63;
}

/* line 20, ../../scss/app/mask_animation.scss */
.mask {
  -webkit-mask: url(../img/square.svg), url(../img/square.svg);
  -webkit-mask-repeat: no-repeat, no-repeat;
  -webkit-mask-position-x: 200px, 0px;
  -webkit-mask-size: 0px 100%, 0px 100%;
  -webkit-mask-position-y: 0, 0;
  mask: url("../img/square.svg#menuMask"), url("../img/square.svg#menuMask");
}

/* line 32, ../../scss/app/mask_animation.scss */
#menu {
  position: fixed;
  width: 400px;
  height: 100%;
  top: 0;
  left: 50%;
  margin-left: -200px;
  background: #DB9E36;
  display: none;
}
/* line 43, ../../scss/app/mask_animation.scss */
#menu .menu-content {
  width: 100%;
  height: 100%;
}
/* line 48, ../../scss/app/mask_animation.scss */
#menu .menu-content:after, #menu .menu-content:before {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
/* line 56, ../../scss/app/mask_animation.scss */
#menu .menu-content:after {
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  content: "";
}
/* line 65, ../../scss/app/mask_animation.scss */
#menu .menu-content:before {
  width: 80px;
  height: 80px;
  margin: -40px 0 0 -40px;
  border-radius: 100%;
  content: "";
}

/* line 78, ../../scss/app/mask_animation.scss */
#content {
  background: #a7c9ae;
  width: 100%;
  -webkit-transition: all 1s;
          transition: all 1s;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: 50% 10%;
          transform-origin: 50% 10%;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding: 200px;
}
/* line 87, ../../scss/app/mask_animation.scss */
#content.zoomOut {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

/* line 92, ../../scss/app/mask_animation.scss */
#viewport-borders {
  position: fixed;
  border: 0px #000 solid;
  width: 100%;
  height: 100%;
  -webkit-transition: all .7s;
          transition: all .7s;
  top: 0;
  left: 0;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
/* line 102, ../../scss/app/mask_animation.scss */
#viewport-borders.show {
  border-width: 60px;
}
