#skrollr-body{
	position:relative;
	height:20000px;
}

#container{
	position: relative;
}

#info{
	margin:300px auto 0 auto;
	width:300px;
	background:#fff;
	padding:10px;
	color:#000;
}

#element{
	display:block;
	width:300px;
	height:400px;
	margin:10px auto 0 auto;
	border:10px #fff solid;
}
