	$diamondRedW : 100;
	$diamondRedH : $diamondRedW;

	$diamondWhiteW : 200;
	$diamondWhiteH : $diamondWhiteW;

	$frameW : 300;
	$frameH : 400;

	#skrollr-body{
		position:relative;
		height:20000px;
	}

	a {
		color: white;
		text-decoration: underline;

		&.visited {
			color: white;
		}
	}

	#container{
		position: relative;
	}

	#frame{
		width:$frameW+px;
		height:$frameH+px;
	  background:#F1F1F1;
	  box-shadow: 0 5px 1px rgba(0,0,0,.1);
		position:absolute;
		left:50%;
		top:50px;
		margin-left:-150px;
		overflow:hidden;

		> #frame-slider{
			position:absolute;
			left:0;
			top:0;
			width:$frameW+px;
			height:$frameH+px;

			> .slide{
				width:$frameW+px;
				height:$frameH+px;
				display:block;
				position:absolute;
				top:0;
				left:0;
				box-shadow: 0 5px 1px rgba(0,0,0,.1);
				overflow: hidden;

				&:after,
				&:before{
					position:absolute;
					top:50%;
					left:50%;
					border:2pxsolidrgba(0,0,0,.2);
					box-sizing:border-box;
				}

				&:after{
					$thisW:200;
					$thisH:200;
					width:$thisW+px;
					height:$thisH+px;
					margin-top:-$thisH/2+px;
					margin-left:-$thisW/2+px;
					transform:rotate(-45deg);
				}

				&:before{
					width:80px;
					height:80px;
					margin:-40px00-40px;
					border-radius:100%;
				}

				&:nth-of-type(3n+1){
					&:before{
					content:"";
					}
				}

				&:nth-of-type(3n+2){
					&:after{
					content:"";
					}
				}

				&:nth-of-type(3n+3){
					&:before,
					&:after{
					content:"";
					}
				}

				&.slide-1{background:rgba(204, 107, 50, 1); z-index:15;}
				&.slide-2{background:rgba(255, 171, 72, 1); z-index:14;}
				&.slide-3{background:rgba(255, 231, 173, 1); z-index:13;}
				&.slide-4{background:rgba(167, 201, 174, 1); z-index:12;}
				&.slide-5{background:rgba(136, 138, 99, 1); z-index:11;}
				&.slide-6{background:rgba(193, 0, 40, .6); z-index:10;}
			}
		}
	}

	#caption{
		position:absolute;
		left: 50%;
		margin-left: 120px;
		z-index:20;
	}




	.diamond{
		background:rgba(193, 0, 40, 1);
		transform: rotate(-45deg);
		box-shadow: -30px 30px 2px rgba(0,0,0,.1);

		overflow:hidden;
		position:relative;
		margin:5px auto; /*TODO:remove*/

		> div{

			transform: rotate(45deg);
			text-align:center;
			display:table-cell;
			vertical-align:middle;
			font-family: "didot_lightregular";
			text-transform: uppercase;
			letter-spacing:1px;
			left: 0;
			position: absolute;


			>ul, >ul>li{
				margin:0;
				padding:0;
				list-style:none;
				display:inline-block;
				position:absolute;
				left:0;
				top:0;
			}

			> ul > li{
				opacity:0;

				> span{
					display:table-cell;
					vertical-align: middle;
				}
			}
		}

		&.diamond-red{
			background:rgba(193, 0, 40, 1);
			height:$diamondRedW +px;
			width:$diamondRedH +px;
			color:#fff;

			> div{
				height:$diamondRedW +px;
				width:$diamondRedH +px;
				font-size: 12px;

				>ul, >ul>li{
					height:$diamondRedW +px;
					width:$diamondRedH +px;
				}
				>ul>li> span{
					height:$diamondRedW +px;
					width:$diamondRedH +px;
				}
			}
		}

		&.diamond-white{
			background:rgba(255, 255, 255, 1);
			height:$diamondWhiteW +px;
			width:$diamondWhiteH +px;
			color:rgba(193, 0, 40, 1);
			text-transform:uppercase;

			> div{
				height:$diamondWhiteW +px;
				width:$diamondWhiteH +px;
				>ul, >ul>li{
					height:$diamondWhiteW +px;
					width:$diamondWhiteH +px;
				}
				>ul>li> span{
					height:$diamondWhiteW +px;
					width:$diamondWhiteH +px;
				}
			}
		}
	}