$pointMaxW : 30;
$pointMaxH : $pointMaxW;
$pointColor: #DA0101;

@keyframes dancingpoint
{

	0% {
		transform:scale(0);
		opacity:0;
	}

	16% {
		transform:scale(.33);
		opacity:.33;
	}

	32% {
		transform:scale(.66);
		opacity:.66;
	}

	48% {
		transform:scale(1);
		opacity:1;
	}

	64% {
		transform:scale(.66);
		opacity:.66;
	}

	80% {
		transform:scale(.33);
		opacity:.33;
	}

	100% {
		transform:scale(0);
		opacity:0;
	}
}

#skrollr-body{
	position:relative;
	height:20000px;
}

#container{
	position: relative;

	#map{
		background:url(../../img/australia.svg) center no-repeat;
		width:900px;
		height:400px;
		background-size: contain;
		position:absolute;
		top:1400px;
		left:50%;
		margin-left:-450px;

		.dancingpoint{
			width:$pointMaxW+px;
			height:$pointMaxH+px;
			position:absolute;
			border-radius: ($pointMaxW+3)+px;
			overflow:hidden;

			> div{
				width:$pointMaxW+px;
				height:$pointMaxH+px;
				border-radius: ($pointMaxW+3)+px;
				transform-origin:50% 50%;
				opacity:1;
				position:absolute;
				top:0;
				left:0;
				transform:scale(.3);

				&.first{
					background:#F0A8A8;
				}

				&.second{
					background:#AD5E5E;
				}

				&.third{
					background:#B10606;
				}
			}

			&.dancingpoint-animate{
				.first{
					animation-name: dancingpoint;
					animation-duration: 2s;
					animation-timing-function: linear;
					animation-iteration-count: infinite;
					animation-direction: alternate;
					animation-play-state: running;
				}

				.second{
					animation-name: dancingpoint;
					animation-duration: 2s;
					animation-timing-function: linear;
					animation-iteration-count: infinite;
					animation-direction: alternate;
					animation-play-state: running;
				}

				.third{
					animation-name: dancingpoint;
					animation-duration: 2s;
					animation-timing-function: linear;
					animation-iteration-count: infinite;
					animation-direction: alternate;
					animation-play-state: running;
				}
			}

			&.dancingpoint-sydney{
				top: 275px;
				left: 594px;

				.first{ animation-delay: 0s; }
				.second{ animation-delay: .5s; }
				.third{ animation-delay: 1s; }
			}

			&.dancingpoint-melbourne{
				top: 314px;
				left: 537px;

				.first{ animation-delay: .5s; }
				.second{ animation-delay: 1s; }
				.third{ animation-delay: 1.5s; }
			}

			&.dancingpoint-alicesprings{
				top: 134px;
				left: 437px;

				.first{ animation-delay: .3s; }
				.second{ animation-delay: .8s; }
				.third{ animation-delay: 1.3s; }
			}
		}
	}

}